/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2015, 8:55:56 AM
    Author     : Student
*/
/************************************
*************************************/
body {
    background: white;
    color: #008080
}
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
nav ul{
    list-style: none;
    padding: 10px 0;
    margin:  0 20px;
}

nav li {
    display: inline-block;
}

a {
    text-decoration: none;
}
h1 {
    font-family: 'Abril Fatface', cursive;
    margin: 15px 0;
    font-size: 2.75em;
}

h2 {
    font-size: 1.75em;
    /************************************
    first is top second is left and right 3rd is botoom
*************************************/
    margin: -5px 0 0;
    font-weight: normal;
}
nav {
    padding: 10px 0;
    margin: 20px 0 0;
    text-align: center;
}

body {
  font-family: 'Abril Fatface', cursive;
}

#wrapper {
    /************************************
    max width is related to width. But instead of width, max width that it can be smaller for mobile devices
*************************************/
   max-width: 940px;
   /************************************
   margin 0 is for all sides
*************************************/
   margin: 0 auto;
   /************************************
   values first one is top and bottom second one is left and right
*************************************/
   padding: 0 5%
}

#logo {
    /************************************
    this centers the header, outs in in the middle of the page
*************************************/

    text-align: center;
    margin:0;
    
}
/************************************
Colors
*************************************/

a {
    color: #000000
}

header {
    background-color: #008080;
}

h1, h2 {
    color: #000000
}

nav {
    background: #0d1c89
}
/************************************
pseudo-class
*************************************/
nav a, nav a:visited{
    color: #fff
}
 nav a.selected , nav a:hover {
    color:#008080
}

/************************************
footer
*************************************/
footer {
    clear: both;
    text-align: center;
    font-size: .75em;
    padding-top: 50px;
    color: #008080
}

.social-media-icon {
    width: 70px;
    height: 70px;
    margin: 0 5px;
}
#gallery{
    margin:0;
    padding:10px;
    list-style: none;
}
#gallery li{
    float: left;
    width: 30%;
    margin: 1.5%;
    background-color: #008080
}

img {
    max-height: 100%;
    max-width: 100%;
}
#gallery li a p{
    margin: 0;
    padding: 5%;
    font-size: 0.85em;
    color: #000000
}

nav a{
    font-weight: 800;
    padding: 15px 10px;
}
/************************************
ABOUUT ME PAGE
*************************************/
.photo {
    display: block;
    max-width:  300px;
    border-radius: 15%;
    height: 300px;
    width: 500px;
}
h3 {
    margin: 0 0 1em 0;
    
}

/************************************
Media Queries
*************************************/
/************************************
Two collum layout
*************************************/
@media screen  and (max-width:480px){
    #primary{
        width: 50%;
        float: left;
    }
    #secondary{
        width: 40%;
        float: right;
    }
/************************************
    Three column layout portfolio
*************************************/
#gallery li{
    width: 125px;
    height: 200px;
    margin-left: 10px;
}
/************************************
    Fixing about picture
*************************************/
.profile-photo{
    float: left;
    margin: 0 5% 80px 0;
}
gallery li:nth-child(4n){
    clear: left;
}
 .photo {
    display: block;
    max-width:  300px;
    border-radius: 15%;
}
}


@media screen and (min-width:660px) {
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
     nav a.selected , nav a:hover {
    color:#0d1c89;
    }
    #logo {
        text-align: left;
        float: left;
        margin-left: 5%;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.25em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}

form {
    color: black;
}















